In [0]:
students_score=[
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85},
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90},
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80}
]
students_score.append({'num':'4','name':'김철','kor':95,'eng':80,'math':82})
students_score.append({'num':'5','name':'김종','kor':20,'eng':80,'math':85})

In [0]:
def score_total(x, i):
  total=x[i]['kor']+x[i]['eng']+x[i]['math']
  return total

def score_avg(x, i):
  avg=score_total(x,i)/3
  return avg

In [0]:
for i in range(len(students_score)):
  total_1=score_total(students_score,i)
  avg_1=score_avg(students_score, i)
  students_score[i]['총합']= total_1 #i번째 개체에 키:값 입력시킴
  students_score[i]['평균']= avg_1

In [4]:
students_score

[{'eng': 80,
  'kor': 90,
  'math': 85,
  'name': '김철수',
  'num': '1',
  '총합': 255,
  '평균': 85.0},
 {'eng': 85,
  'kor': 90,
  'math': 90,
  'name': '박제동',
  'num': '2',
  '총합': 265,
  '평균': 88.33333333333333},
 {'eng': 80,
  'kor': 80,
  'math': 80,
  'name': '홍길동',
  'num': '3',
  '총합': 240,
  '평균': 80.0},
 {'eng': 80,
  'kor': 95,
  'math': 82,
  'name': '김철',
  'num': '4',
  '총합': 257,
  '평균': 85.66666666666667},
 {'eng': 80,
  'kor': 20,
  'math': 85,
  'name': '김종',
  'num': '5',
  '총합': 185,
  '평균': 61.666666666666664}]

In [0]:
def class_avg_func(students_score):
  class_avg=0 ### 정의 위치
  for i in range(len(students_score)):
    class_avg=class_avg+students_score[i]['평균']  #sum=0 and then...연쇄
    i=i+1
  classes_avg=class_avg/len(students_score)
  print(classes_avg)

In [6]:
class_avg_func(students_score)

80.13333333333334

In [8]:
def subject_avg_func(students_score):
  sub_avg_kor=0 ### 위치
  for i in range(len(students_score)):
    sub_avg_kor=sub_avg_kor+students_score[i]['kor']  #sum=0 and then...연쇄
    i=i+1
  kor_avg=sub_avg_kor/len(students_score)
  print(kor_avg)
subject_avg_func(students_score)

75.0